PORT=4000
APP_URL=http://localhost:5173
JWT_SECRET=change-me-in-local
DATABASE_URL="file:./prisma/dev.db"
SDK_PUBLIC_URL=http://localhost:4000/sdk/adstream-player.js
DEMO_VIDEO_URL=https://www.w3schools.com/html/mov_bbb.mp4
DEMO_POSTER_URL=https://dummyimage.com/1280x720/0f172a/ffffff&text=AdStream+Demo
